.things {
    position: absolute;
    top: 1%;
    left: 1%;
    border: 1px solid darkred;
    height: 98%;
    width: 39%;
}

.slot1 {
    position: absolute;
    top: 1%;
    left: 41%;
    border: 1px solid darkcyan;
    height: 59%;
    width: 28%;
}

.slot2 {
    position: absolute;
    top: 1%;
    left: 70%;
    border: 1px solid darkorange;
    height: 64%;
    width: 29%;
}

.slot3 {
    position: absolute;
    top: 61%;
    left: 41%;
    border: 1px solid darkkhaki;
    height: 38%;
    width: 28%;
}

.slot4 {
    position: absolute;
    top: 66%;
    left: 70%;
    border: 1px solid darkviolet;
    height: 33%;
    width: 29%;
}