.things {
    float: left;
    width: 50%;
    height: 600px;
    border: 1px solid darkred;
    position: relative;
}

.slot1 {
    float: left;
    width: 24%;
    height: 300px;
    border: 1px solid darkcyan;
    position: relative;
}

.slot2 {
    float: right;
    width: 24%;
    height: 400px;
    border: 1px solid darkorange;
    position: relative;
}

.slot3 {
    float: left;
    width: 24%;
    height: 300px;
    border: 1px solid darkkhaki;
    position: relative;
}

.slot4 {
    float: right;
    width: 24%;
    height: 200px;
    border: 1px solid darkviolet;
    position: relative;
}