.header {
    border: 1px solid yellowgreen;
    height: 5%;
    width: 100%;
    text-align: center;
}

.menu {
    position: absolute;
    float: left;
    top: 7%;
    border: 1px solid darkgreen;
    height: 80%;
    width: 9%;
}

.content {
    position: absolute;
    top: 7%;
    left: 10%;
    border: 1px solid black;
    height: 80%;
    width: 89.5%;
}

.footer {
    position: absolute;
    top: 88%;
    border: 1px solid darkred;
    height: 10%;
    width: 99%;
}