.header {
    text-align: center;
    height: 50px;
    margin-left: 20px;
    border: 1px solid yellowgreen;
    vertical-align: top;
}
.menu {
    margin-left: 20px;
    float: left;
    width: 10%;
    border: 1px solid darkgreen;
}
.content {
    margin-left: 20px;
    width: available;
    border: 1px solid black;
    position: relative;
    height:600px;
}
.footer {
    margin: 20px;
    height: 50px;
    float: bottom;
    clear: both;
    border: 1px solid darkred;
    position: relative;
    bottom: 0;
    width: 100%;
}