.header {
    text-align: center;
    height: 50px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    border: 1px solid yellowgreen;
    vertical-align: top;
}
.menu {
    margin-left: 1%;
    float: left;
    width: 10%;
    height:600px;
    border: 1px solid darkgreen;
}
.content {
    margin-left: 11%;
    margin-right: 1%;
    width: available;
    border: 1px solid black;
    position: relative;
    height:600px;
}
.footer {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    height: 50px;
    float: bottom;
    clear: both;
    border: 1px solid darkred;
    position: relative;
    bottom: 0;
    width: 98%;
}